<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>GPX editor</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <style>
        .page {
          display: grid;
          grid-template-columns: 50% 50%;
          height: 97vh;
        }

        button {

        }

<!--        #cancelButton, #saveFieldsButton {-->
<!--          margin: 4px 0px 4px 0px;-->
<!--        }-->

<!--        #changeButton, #saveButton {-->
<!--          align-self: center;-->
<!--        }-->

        #changeButton, #saveButton, #toMainPage {
          display: block;
          margin: 8px auto;
        }

        #textMode, #waypointInfo {
          margin: 0 8px;
        }

        h3 {
          margin: 0;
          padding-bottom: 8px;
        }

        .buttons {
          display: flex;
          flex-direction: column;
        }

        #changingButtons {
          display: flex;
          justify-content: center;
        }

        .editor {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        #waypointInfo {
          display: none;
        }

        #fullTextFile {
          resize: none;
          width: 100%;
          height: 80vh;
        }

        .field {
          margin-bottom: 4px;
        }

        #changingButtons {
          display: none;
          //display: flex;
          // задать направление горизонталь
        }

        [class*="leaflet-attribution-flag"] {
            display: none !important;
        }
    </style>
</head>
<body>
<div class="page">
  <div id="map"></div>
  <div class="editor">
    <div id="waypointInfo" class="fieldMode">
      <h3>Данные о выбранной точке</h3>
      <label id="nameField" class="field">
        Name:
        <input type="text" value="-" placeholder="Введите значение" class="fieldInput" disabled>
      </label>
      <div id="typeField" class="field">
        <label for="type">Type:</label>
        <input id="type" type="text" value="-" placeholder="Введите значение" class="fieldInput" disabled>
      </div>
      <div id="timeField" class="field">
        <label for="time">Time:</label>
        <input id="time" type="text" value="-" placeholder="Введите значение" class="fieldInput" disabled>
      </div>
      <div class="buttons">
        <button id="changeButton">Изменить данные</button>
        <div id="changingButtons">
          <button id="cancelButton">Отменить</button>
          <button id="saveFieldsButton" type="submit">Сохранить</button>
        </div>
        <button id="setTextModeButton">Изменить режим редактирования</button>
      </div>
    </div>
    <div id="textMode">
      <textarea id="fullTextFile"></textarea>
      <div class="buttons">
        <button id="saveButton" type="submit">Сохранить</button>
        <button id="setFieldModeButton" disabled>Изменить режим редактирования</button>
      </div>
    </div>
    <form method="GET" action="/">
      <button id="toMainPage" type="submit">Вернуться на главную</button>
    </form>
  </div>
</div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script th:inline="javascript">
        const BASE_URL = new URL('http://localhost:8080');

        // переменная для хранения json данных о точке/маршруте/треке
        let jsonData = null;

        // функция для обработки кликов на точки
        async function checkClick(type, index) {
            console.log(`${type} №${index} was clicked`);
            document.getElementById('textMode').style.display = 'none';
            jsonData = null;

            if (type === 'waypoint') {
                // запрос к серверу для получения данных о точке (wp или из трека или из маршрута)
                const url = new URL('/waypointInfo', BASE_URL);
                url.searchParams.set('wpID', index);

                fetch(url)
                .then((response) => {
                    if (response.ok) {
                        return response.text();
                    }
                    console.log('Произошла ошибка при выполнении запроса');
                    // + добавить отображение ошибки на странице
                })
                .then((text) => {
                    //document.getElementById('waypointInfo').style.display = 'block';
                    setChangeMode('field', false);

                    text = text.replace(/['"]elevation['"]:\s*([\d.,]+)\s*m/, function(match, value) {
                        return '"elevation":"' + value + '"';
                    });
                    jsonData = JSON.parse(text);
                    //console.log('json text:', jsonData);
                    //fillInFields();
                    onCancel();
                })
                .catch((error) => {
                    console.log(error);
                    // + добавить отображение ошибки на странице
                })
            }
        }

        // заполняет поля данными
        function fillInFields() {
            if (jsonData) {
                document.querySelector("#nameField > input").value = jsonData.name ? jsonData.name : '-';
                document.querySelector("#typeField > input").value = jsonData.type ? jsonData.type : '-';
                document.querySelector("#timeField > input").value = jsonData.time ? jsonData.time : '-';
            } else {
                // error
            }
        }

        // для кнопки Изменить данные
        function onActiveChanging() {
            document.getElementById('changeButton').style.display = 'none';
            document.getElementById('changingButtons').style.display = 'flex';
            document.querySelectorAll(".fieldInput").forEach((element) => {
                element.disabled = false;
                if (element.value === '-') {
                    element.value = "";
                }
            });
        }

        // для кнопки Сохранить
        function onSave() {
          // Отправлять данные на post /updateGPX чтобы сохранить новые данные
        }

        // для кнопки Отменить
        function onCancel() {
            fillInFields();
            document.querySelectorAll(".fieldInput").forEach((element) => {
                element.disabled = true;
            });
            document.getElementById('changeButton').style.display = 'block';
            document.getElementById('changingButtons').style.display = 'none';
        }

        // для кнопки "Изменить режим редактирования"
        function setChangeMode(newMode, isChangeButtonDisabled) {
            // заменить потом waypointInfo на разные div: track Или route и тп
            if (newMode === 'text') {
                //console.log('text');
                onCancel();
                document.getElementById('setFieldModeButton').disabled = isChangeButtonDisabled;
                document.getElementById('waypointInfo').style.display = 'none';
                document.getElementById('textMode').style.display = 'block';
            } else {
                //console.log('field');
                document.getElementById('waypointInfo').style.display = 'block';
                document.getElementById('textMode').style.display = 'none';
            }
        }

        // добавляет точку на карту по ее координатам
        function addWaypointToMap(waypoint, popupText, fn) {
            const point = L.marker(waypoint, {title: 'Press me to see details'}).addTo(map);
            point.bindPopup(popupText);
            point.on('click', fn);
        }

        // присваиваем кнопкам обработчики событий
        document.getElementById('changeButton').addEventListener('click', onActiveChanging);
        document.getElementById('cancelButton').addEventListener('click', onCancel);
        document.getElementById('saveFieldsButton').addEventListener('click', onSave);
        document.getElementById('setTextModeButton').addEventListener('click', () => setChangeMode('text', false));
        document.getElementById('setFieldModeButton').addEventListener('click', () => setChangeMode('field', false));

        // Получение GPX данных из модели
        const gpxCoordinates = /*[[${gpxCoordinates}]]*/;
        const gpx = /*[[${gpx}]]*/;
        //console.log(gpx);
        document.getElementById('fullTextFile').value = gpx;

        // Создание карты
        const map = new L.Map('map');
        // Добавление плитки (тайлов) карты
        const service = new L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            minZoom: 1,
            maxZoom: 19
        }).addTo(map);

        // Масштабирование карты
        const bounds = new L.LatLngBounds(new L.LatLng(gpxCoordinates.min_latitude, gpxCoordinates.min_longitude), new L.LatLng(gpxCoordinates.max_latitude, gpxCoordinates.max_longitude));
        map.addLayer(service).fitBounds(bounds);
        //map.fitBounds(bounds);

        map.on({click: () => setChangeMode('text', true), zoom: () => map.closePopup()});


        // Отображение точек, маршрутов и треков на карте
        gpxCoordinates.wayPoints?.forEach((wp) => {
            const index = gpxCoordinates.wayPoints.indexOf(wp);
            addWaypointToMap(wp, `It is waypoint №${index}`, () => checkClick('waypoint', index));

<!--            const waypoint = L.marker(wp, {title: 'Press me'}).addTo(map);-->
<!--            waypoint.bindPopup(`It is waypoint №${index}`);-->
<!--            waypoint.on('click', () => checkClick('waypoint', index));-->
        });

        gpxCoordinates.routes?.forEach((rt) => {
            const routeIndex = gpxCoordinates.routes.indexOf(rt);
            const route = L.polyline(rt, {color: 'blue', weight: 6}).addTo(map);
            route.bindPopup(`It is route №${routeIndex}`);
            route.on('click', () => checkClick('route', routeIndex));
            rt.forEach((wp) => {
                const index = gpxCoordinates.routes[routeIndex].indexOf(wp);
                addWaypointToMap(wp, `It is waypoint №${index} in route`, () => checkClick('route', index));

<!--                const waypoint = L.marker(wp).addTo(map);-->
<!--                waypoint.bindPopup(`It is waypoint №${index} in route`);-->
<!--                //waypoint.on('click', () => checkClick('waypoint', index));-->
            });
        });

        gpxCoordinates.tracks?.forEach((trk) => {
            const trackIndex = gpxCoordinates.tracks.indexOf(trk);
            trk.forEach((trkSeg) => {
                const index = gpxCoordinates.tracks[trackIndex].indexOf(trkSeg);
                const trkSegment = L.polyline(trkSeg, {color: 'red', weight: 6}).addTo(map);
                trkSegment.bindPopup(`It is track segment №${index} in track №${trackIndex}`);
            });
        });













<!--        // функция для обработки кликов на точки-->
<!--        -->
<!--        // !!! требуется доработка функции !!!-->
<!--        async function checkClick(type, index) {-->
<!--            console.log(`${type} №${index} was clicked`);-->

<!--            // реализовать запрос к серверу для получения данных о точке (wp или из трека или из маршрута)-->
<!--            let url = new URL('/waypointInfo', BASE_URL);-->
<!--            url.searchParams.set('wpID', index);-->

<!--            fetch(url, {method: 'POST',})-->
<!--            .then((response) => response.text())-->
<!--            .then((text) => {-->
<!--                document.getElementById('waypointInfo').style.display = 'block';-->

<!--                text = text.replace(/['"]elevation['"]:\s*([\d.,]+)\s*m/, function(match, value) {-->
<!--                    return '"elevation":"' + value + '"';-->
<!--                });-->
<!--                jsonData = JSON.parse(text);-->
<!--                console.log('json text:', jsonData);-->

<!--                fillInFields(jsonData);-->
<!--                document.querySelector("#nameField > input").setAttribute('value', json.name ? json.name : '-');-->
<!--                document.querySelector("#typeField > input").setAttribute('value', json.type ? json.type : '-');-->
<!--                document.querySelector("#timeField > input").setAttribute('value', json.time ? json.time : '-');-->

<!--            });-->


<!--          let response = await fetch(url,-->
<!--          {method: 'POST',});-->
<!--          if (response.ok) {-->
<!--            let json = await response.json();-->
<!--            console.log(json);-->
<!--            let text = await response.text();-->
<!--            console.log(text);-->

<!--&lt;!&ndash;            text.replace(/"elevation":\s*([\d.,]+)\s*m/, '');&ndash;&gt;-->
<!--&lt;!&ndash;            function(match, value) {&ndash;&gt;-->
<!--&lt;!&ndash;              console.log('\"elevation\":' + value);&ndash;&gt;-->
<!--&lt;!&ndash;              return '\"elevation\":' + value;&ndash;&gt;-->
<!--&lt;!&ndash;          });&ndash;&gt;-->
<!--//text1.replace(' m,', '",').replace('"elevation":','"elevation":"');-->
<!--          console.log("after changing: 1", text1);-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--let re = ")\":\s*[\"']?(.*)[\"']?,\s*\"(";-->
<!--let reg = new RegExp("{\"(name" + re + "type" + re + "time" + re + "symbol" + re + "extensions" + re + "comment" + re + "source" + re + "description" + re + "longitude" + re + "elevation" + re + "links" + re + "latitude" + re + "speed" + re + "sat" + re + "geoidHeight" + re + "fix" + re + "hdop" + re + "vdop" + re + "course" + re + "ageOfGPSData" + re + "dgpsid" + re + "pdop" + re + "magneticVariation)\":\s*(.*)}");-->
<!--            re = ")\":\s*[\"']?(.*)[\"']?,\s*\"(";-->
<!--            reg = new RegExp("{\"(name" + re + "type)\":\s*\\?[\"']?(.*)\\?[\"']?,\s*\"(symbol)");-->
<!--            var matches = text.match(/[{,]\s*"[^"]+":\s*(?:\\?['"])?(.+)(?:\\?['"])?,\s*"[^"]+":/g);-->
            //var matches = text.match(/{"(name)":\s*["']?(.*)["']?,\s*"(type)":\s*["']?(.*)["']?,\s*"(time)":\s*["']?(.*)["']?,\s*"(symbol)":\s*["']?(.*)["']?,\s*"(extensions)":\s*["']?(.*)["']?,\s*"(comment)":\s*["']?(.*)["']?,\s*"(source)":\s*(.*),\s*"description":\s*(.*),\s*"magneticVariation":\s*(.*),\s*"longitude":\s*(.*),\s*"elevation":\s*(.*),\s*"latitude":\s*(.*),\s*"links":\s*(.*),\s*"speed":\s*(.*),\s*"sat":\s*(.*),\s*"ageOfGPSData":\s*(.*),\s*"pdop":\s*(.*),\s*"hdop":\s*(.*),\s*"dgpsid":\s*(.*),\s*"course":\s*(.*),\s*"vdop":\s*(.*),\s*"fix":\s*(.*),\s*"geoidHeight":\s*(.*)}/);
            //var matches = text.match(/{"name":\s*["']?(.*)["']?,\s*"type":\s*["']?(.*)["']?,\s*"time":\s*["']?(.*)["']?,\s*"symbol":\s*["']?(.*)["']?,\s*"extensions":\s*["']?(.*)["']?,\s*"comment":/);
            // \s*(.*),\s*"source":\s*(.*),\s*"description":\s*(.*),\s*"magneticVariation":\s*(.*),\s*"longitude":\s*(.*),\s*"elevation":\s*(.*),\s*"latitude":\s*(.*),\s*"links":\s*(.*),\s*"speed":\s*(.*),\s*"sat":\s*(.*),\s*"ageOfGPSData":\s*(.*),\s*"pdop":\s*(.*),\s*"hdop":\s*(.*),\s*"dgpsid":\s*(.*),\s*"course":\s*(.*),\s*"vdop":\s*(.*),\s*"fix":\s*(.*),\s*"geoidHeight":\s*(.*)}/g);
            //var matches = text.match(/{\s*"(name)":\s*["']?(.*)["']?,\s*"(type)":\s*["']?(.*)["']?,\s*"(time)":\s*['"]?(.*)['"]?,\s*"(symbol)":\s*["']?(.*)["']?,\s*"(extensions)":\s*["']?(.*)["']?,\s*"(comment)":\s*["']?(.*)["']?,\s*"(source)":\s*["']?(.*)["']?,\s*"(description)":\s*["']?(.*)["']?,\s*"(     )":\s*["']?(.*)["']?,\s*"(       )":\s*["']?(.*)["']?,\s*"(      )":\s*["']?(.*)["']?,\s*"(         )":\s*["']?(.*)["']?,\s*"(         )":\s*["']?(.*)["']?,\s*"(           )":\s*["']?(.*)["']?,\s*"(          )":\s*["']?(.*)["']?,\s*"(        )":\s*["']?(.*)["']?,\s*"(         )":\s*["']?(.*)["']?,\s*"(        )":\s*["']?(.*)["']?,\s*"(/);
            //var matches = text.match(/,\s*"time":\s*['"]?([^(?:,\s*"\w+":)]+)\",\"/);
            //var matches = text.match(/{"name":\s*(.*),\s*"type":/);
            //console.log(matches);

<!--          } else {-->
<!--            // отображать Данные о точке/маршруте/треке не найдены.-->
<!--          }-->




        // Создание маршрута на основе координат GPX
<!--        var track = L.polyline(gpxData, {color: 'red'}).addTo(map);-->
<!--        track.on('click', check);-->
        // Создание маршрутов на основе координат
        /*routeCoordinates.forEach(function(coords) {
            L.polyline(coords, {color: 'blue'}).addTo(map);
        });
        // Создание треков на основе координат
        trackCoordinates.forEach(function(coords) {
            L.polyline(coords, {color: 'red'}).addTo(map);
        });*/
    </script>
</body>
</html>